@import "tailwindcss";

@theme {
  --font-sans: "Inter", "system-ui", "sans-serif";
  --font-mono: "Fira Code", "Courier New", "monospace";

  --color-ozalit-bg: #001e36;
  --color-ozalit-grid: #00223e;
  --color-ozalit-panel: #001528;
  --color-earth-bg: #0a0c10;
  --color-earth-grid: #181f21;
  --color-earth-panel: #151820;
  --color-islamic-gold: #d4af37;
  --color-eco-green: #2e7d32;
}

@layer base {
  body {
    @apply antialiased m-0 p-0 overflow-hidden bg-[#0A0C10] text-slate-200 select-none;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.2);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}